@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Yeseva+One&display=swap");

:root {
  --white: #fff;
  --background: #f8fafb;
  --background-2: #f0f0f7;
  --title: #474747;
  --text: #555555;
  --text-light: #777777;
  --light-grey-2: #e5e5ea;
  --secondary: #ff5545;
  --primary: #69bcfc;
  --primary-2: #61aee8;
  --primary-3: #66b5f2;
  --hover: #408dc9;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
